h1, h2, h3, h4, h5, p{
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2039215686);
    color: yellow;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
  }
  
  /* header */
  header {
    background-color: rgb(5, 5, 5);
  }
  .nav-link {
    text-decoration: none;
    color: yellow;
    align-content: right;
  }
  .nav-item {
    justify-content: right;
  }
  .navbar-toggler {
    color: yellow;
  }
  .navbar{
    color: yellow;
  }
  .navbar-expand-sm {
    align-content: end;
    color: yellow;
  }
  /* main */
  main {
    display: inline-block;
    text-align: center;
    align-content: center;
    background-image: url(Imagenes/Fondo\ De\ la\ pagina.png);
    background-size: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.979);
    margin: 0;
    padding: 0;
  }
  
  /* comienza compañia */
  .contenedorarmas {
    justify-content: center;
  }
  .imgarma {
    width: 320px;
    height: auto;
  }
  /* fin compañia */

  /* comienza enemigos */
  .imgenemigos {
    width: 320px;
    height: auto;
  }
  /* fin enemigos */
  
  /* Comienza unete */
  .Imgunete {
    display: flex;
  }
.col {
    padding: 5px;
}
.form-control{

}

  /* fin unete*/
  .imgcontactanos {
    width: 320px;
    height: auto;
  }
  
  .titulo {
    margin-top: 0;
    text-shadow: 0 0 12px #000;
    letter-spacing: 2px;
    color: yellow;
    text-align: center;
  }
  
  .parrafo {
    color: yellow;
    text-shadow: 0 0 5px #000;
    background-color: rgba(41, 40, 40, 0.164);
  }
  
  .video1 {
    margin-bottom: 20px;
    height: 85%;
    width: 85%;
  }
  
  /* Footer */
  footer {
    background-color: rgba(0, 0, 0, 0.938);
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
  }
  
  .textoFooter {
    margin-bottom: 20px;
    color: yellow;
    text-align: center;
    font-size: 20px;
  }
  
  .redes a {
    margin-right: 10px;
    color: yellow;
    letter-spacing: normal;
    font-size: 30px;
  }
  
  .subir {
    width: 30px;
    height: 30px;
    color: yellow;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
  }
  
  /* inicio media query */
  @media only screen and (min-width: 480px) {
    .imgarma {
      width: 480px;
      height: auto;
    }
    .imgcontactanos {
      width: 480px;
      height: auto;
    }
}